<style>
    footer {
            background-color: black;
        }
        
#justpushtobottom {
    height: 82vh;
}
   
    
</style>


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Bootstrap 101 Template</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>

<div id="justpushtobottom"> 
</div>

<footer class="footer p-t-1">
        <div class="container">
            

           <h3 style="text-align: center;"> <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
            <a href="#"><i class="fa fa-pinterest-p fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fa fa-flickr fa-2x"></i></a>
            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a></h3>

            
        </div>
    </footer>
</body>