<nav class="footer"> 
    <div class="container">
      <%= link_to "Facebook" %>
      <%= link_to "Twitter" %>
      <h5> <%="Copyright © 2017 My blog. All rights reserved."%></h5>
   
    </div>

</nav>